* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Poppins, "Courier New", Courier, monospace;
}

body {
  margin: 0 auto;
  height: 100vh;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;
}
